	Vote eligibility? :
<% if question.votes.count == 0 %>
		<% @can_vote = true %>
	<% elsif question.votes.count != 0 %>
		<% question.votes.each do |vote| %>
			<% if vote.user_id == session[:user_id] %>
 				<% @can_vote = false %>
 				<% break %>
			<% else %>	
				<% @can_vote = true %>
			<% end %>
 		<% end %>
 	<% end %>
 <%= @can_vote %><br>

	<% if @can_vote == true %>
		<a href="/questions/<%= question.id %>/upvote"><button>upvote</button></a>
		<a href="/questions/<%= question.id %>/downvote"><button>downvote</button></a><br>
	<% else %>
		Please reset your vote
		<form action="/questions/<%= question.id %>/reset" method="POST">
			<input type="submit" value="reset">
		</form>

	<% end %><br>