<h2>Sign up for an account!</h2>
<form action="/signup" method="POST">
	<label>Name: </label>
	<input type="text" name="name" placeholder="Joash"><br>
	<label>Email: </label>
	<input type="email" name="email"placeholder="super@man.com"><br>
	<label>Password: </label>
	<input type="password" name="password" placeholder="minimum 4"><br>
	<label>Password Confirmation: </label>
	<input type="password" name="password_confirmation"><br>
	<input type="submit" value="Create user">
</form>

<h2>Login if you have an account</h2>
<form action="/users/login" method="POST">
	<label>Email: </label>
	<input type="email" name="email" placeholder="jom@jom.com"><br>
	<label>Password: </label>
	<input type="password" name="password"><br>
	<input type="submit" value="Login">
</form>