<head>
    <title>Quora Clone</title>  
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header>

      <h1>Quora By Leo</h1>
      	<nav>
		      <ul>
		        <li><a href="/">Home</a></li>
		        <li><a href="/users/login">Login</a></li>
		      </ul>
		    </nav>
    </header>
  </body>
