<h2>All about Starwars and more..</h2>

<p>I care. So, what do you think of her, Han?

<img src="/img/starwars.jpg" alt="Luke Skywalker">

The plans you refer to will soon be back in our hands. Still, she's got a lot of spirit. I don't know, what do you think? In my experience, there is no such thing as luck. Leave that to me. Send a distress signal, and inform the Senate that all on board were killed.

Ye-ha! What?! The Force is strong with this one. I have you now. I don't know what you're talking about.
</p>