<head>
    <title>Star Wars Quora</title>  
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>
      <h1>Star Wars Quora</h1>
      <%= @warning if @warning %>
      	<nav>
		      <ul>
		        <li><a href="/">Home</a></li>
            <li><a href="/questions/all">View All Questions</a></li>
            <% if logged_in? %>
            <li><a href="/users/<%= current_user.id %>">Profile</a></li>
            <li><a href="/questions/new">Post a question</a></li>
            <li><a href="/users/logout">Logout</a></li>
            <% else %>
		        <li><a href="/users/login">Login</a></li>
            <% end %>
		      </ul>
		    </nav>
    </header>
    <section>
      <%= yield %>
    </section>
  </body>