<head>
    <title>Star Warsa</title>  
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>
      <h1>Star Warsa</h1>
      <%= @warning if @warning %>
      	<nav>
		      <ul>
		        <li><a href="/">Home</a></li>
            <% if logged_in? %>
            <% end %>
		        <li><a href="/users/login">Login</a></li>
            <li><a href="#">Profile</a></li>
		      </ul>
		    </nav>
    </header>
    <section>
      <%= yield %>
    </section>
  </body>