<head>
    <title>Star Wars Quora</title>  
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
  </head>
  <body>
    <header>
      <h1>Star Wars Quora</h1>
      <%= @warning if @warning %>
      	<nav>
		      <ul>
		        <li><a href="/"><button>Home</button></a></li>
            <li><a href="/questions/all"><button>View All Questions</button></a></li>
            <% if logged_in? %>
            <li><a href="/users/<%= current_user.id %>"><button>Profile</button></a></li>
            <li><a href="/questions/new"><button>Post a question</button></a></li>
            <li><a href="/users/logout"><button>Logout</button></a></li>
            <% else %>
		        <li><a href="/users/login"><button>Login</button></a></li>
            <% end %>
		      </ul>
		    </nav>
    </header>
    <section>
      <%= yield %>
    </section>
  </body>